@font-face {
            font-family: ElMessiri;
            font-display: swap;
            src: url("../fonts/ElMessiri-Bold.woff2") format("woff2"), url("../fonts/ElMessiri-Bold.woff1") format("woff1");
            font-weight: 700;
            font-style: normal;
            }
@font-face {
            font-family: ProximaNova;
            font-display: swap;
            src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff1") format("woff1");
            font-weight: 700;
            font-style: normal;
            }
@font-face {
            font-family: ProximaNova;
            font-display: swap;
            src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff1") format("woff1");
            font-weight: 600;
            font-style: normal;
            }
@font-face {
            font-family: ProximaNova;
            font-display: swap;
            src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff1") format("woff1");
            font-weight: 300;
            font-style: normal;
            }
@font-face {
            font-family: ProximaNovaT;
            font-display: swap;
            src: url("../fonts/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNovaT-Thin.woff1") format("woff1");
            font-weight: 100;
            font-style: normal;
            }